#{extends 'default.html' /}

<h2><a href="@{index()}">Manage account</a> &gt; ${bankAccount.name}</h2>

<!--  ${beginDate} - ${endDate} -->

<!-- navigation -->



%{
	for (i in 1..12) {
}%

	#{if (month==(i))}
		<b>${i}</b>
	#{/if}
	#{else}
	<a href="@{show(bankAccount.id, "01-"+i+"-"+year)}">${i}</a> 
	#{/else}
	|
%{
	}
}%
<br/>
%{
	for (i in (year-2)..(year+2)) {
}%

	#{if (year==(i))}
		<b>${i}</b>
	#{/if}
	#{else}
	<a href="@{show(bankAccount.id, "01-"+month+"-"+i)}">${i}</a> 
	#{/else}
	|
%{
	}
}%


<!-- end navigation -->
<div class="span-24 last">
	<p>
	#{list items:tags, as:'tag'}
		<span class="operationTag addTagBtn" style="background-color: ${tag.color}"><a onClick="" href="#">${tag.name}</a></span>
	#{/list}
	<br/>
	#{list items:tags, as:'tag'}
		<span class="operationTag delTagBtn" style="border: 1px dashed ${tag.color}"><a style="color: ${tag.color}" href="#">${tag.name}</a></span>
	#{/list}
	</p>
</div>

<div class="span-24 last">
#{form @save(), id:'selectedForm'}

<table class="accountTab">
<thead>
	<td></td>
	<td>Date</td>
	<td>Operation name</td>
	<td>Operation amount</td>
	<td>Action</td>
</thead>

<!--  somme initial -->

	<tr>
	<td></td>
		<td>
		</td>
		<td>
			<strong>INITIAL</strong>
		</td>
		
		<td style="text-align:right">
			${initialSomme}
		</td>
		<td>
		</td>
	</tr>

#{list items:operations, as:'operation'}
	<tr #{if operation.fictive == true} class="fictive" #{/if}>
	<td><input type="checkbox" name="selected" value="${operation.id}"/></td>
	<td>${operation.date.format("dd/MM/yyyy")} <em>(${operation.date.since()})</em></td>
	<td>
		#{list items:operation.tags, as:'tag'}
			<span style="background-color: ${tag.color}" class="operationTag">${tag.name}</span>
		#{/list}
		${operation.name}
		
		<a href="@{OperationCtrl.edit(operation.id)}">edit</a>
	</td>
		
	<td style="text-align:right">
		#{if operation.amount < 0}
			<span style="color: #F00">${operation.amount}</span>
		#{/if} 
		#{else}
			${operation.amount}
		#{/else}
			</td>	
	<td>
		<a id="${operation.id}-delete">[X]</a>
		<script>
			$('#${operation.id}-delete').click(function() {
					$.post('@{deleteOperation(operation.id)}', function() {
						location.reload();
					})
			})
		</script>	
	
	</td>
		
		
	</tr>
#{/list}

	<tr>
	<td></td>
		<td>
		</td>
		<td>
			<strong>Total</strong>
		</td>
		
		<td style="text-align:right">
			${somme}
		</td>
		<td>
		</td>
	</tr>

</table>

#{/form}
</div>

<div class="span-24 last">
	<p>
	#{list items:tags, as:'tag'}
		<span class="operationTag addTagBtn" style="background-color: ${tag.color}"><a onClick="" href="#">${tag.name}</a></span>
	#{/list}
	<br/>
	#{list items:tags, as:'tag'}
		<span class="operationTag delTagBtn" style="border: 1px dashed ${tag.color}"><a style="color: ${tag.color}" href="#">${tag.name}</a></span>
	#{/list}
	</p>
</div>


<div class="span-24 last">
	<form action="@{addOperation()}" method="POST">
	
	<div class="span-5 colborder">
		<p>
		    <label for="name">Name of your operation</label><br/>
		    <input type="text" name="name" id="name" value="" />
		</p>
	</div>
	<div class="span-5 colborder">
	<p> 
	    <label for="name">Date of your operation</label><br/>
	    <input class="date" type="text" name="date" id="date" value="" />
	 </p>
	 </div>
	 <div class="span-5 colborder">
	 <p>
	    <label for="name">Amount of your operation</label><br/>
	    <input type="text" name="amount" id="amount" value="" /> &euro;
	 </p>
	 </div>
	 <div class="span-5">
	 <p>   
	    <input type="hidden" name="bankId" id="bankId" value="${bankAccount.id}" />
	    <input type="submit" value="Add" />
	  </p>
	  </div>
	</form>
</div>



<div class="span-24 last">
	<form action="@{importBNPCSV()}" enctype="multipart/form-data" method="post">
		<input type="hidden" name="bankId" id="bankId" value="${bankAccount.id}" />
		<input type="file" name="importFile">
		<input type="submit" value="Import" />
	</form>
</div>

<!--  summary -->

<div class="span-24 last">
<table class="accountTab">
<thead>
	<td>TagName</td>
	<td>Budget</td>
</thead>
	#{list items:tags, as:'tag'}
	<tr>
		<td>
			<span style="background-color: ${tag.color}" class="operationTag">${tag.name}</span>
		</td>
			
		<td>
			${budgets[tag]}
		</td>
	</tr>		
	#{/list}
	${chartImg.raw()}

<script>
	$(':checkbox').change(function() {
		//$(this).closest('tr').css('background-color', 'red');
		if ($(this).is(':checked')) {
				$(this).closest('tr').addClass("success");
		} else {
				$(this).closest('tr').removeClass("success");
		}
	});

	function launchAction(action, param) {
		var params = $("#selectedForm").serialize();
		params+= "&jsAction="+ action;
		params+= "&jsParam="+ param;
		//params["rzerzrz"] = 3;
		$.post("@{batch()}", params, function() {
			window.location.reload();
		});
	}

	$('.addTagBtn').click(function() {
		launchAction("addTag", $(this).children('a').text());
		return false;
	});

	$('.delTagBtn').click(function() {
		launchAction("delTag", $(this).children('a').text());
		return false;
	});
	
	
</script>