#{extends 'default.html' /}
#{set title:'Home' /}

#{form @savePrevision()}


#{field 'operationPrevision.id'}
<input type="hidden" id="${field.id}" name="${field.name}" value="${field.value}">
#{/}

#{field 'operationPrevision.name'}
<p>
  <label>&{field.name}</label>
  <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}" size="100">
  <span class="error">${field.error}</span>
</p>
#{/}

#{field 'operationPrevision.amount'}
<p>
  <label>&{field.name}</label>
  <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
  <span class="error">${field.error}</span>
</p>
#{/}

<h3>Tag</h3>

#{list tags, as:'tag'}
	<input type="radio" name="tag" value="${tag.id}"
	 #{if operationPrevision.tag.equals(tag)}
	 	checked
	 #{/if}/> ${tag.name}
	 <br/>
#{/list}



<input type="submit" value="save"/>

#{/form}